Code/
TabNine/
Thunar/
comrak/
dconf/
diffuse/
enchant/
environment.d/
envman/
eos-sendlog.txt
eos-update-notifier.first_init
epiphany
goa-1.0/
gtk-2.0/
gtk-3.0/
htop/
mako/
libreoffice/
marktext/
neofetch/
pavucontrol.ini
pulse/
relflector-simple-free-params.txt
xfce4/
xournalpp/
yay/
EOS-initial-wallpaper.LXDE
lxpanel/
lxsession/
openbox/
pcmanfm/
libfm/
configstore/
nvim/plugged
Google/
RStudio/
systemd/
wofi/
xed/
VSCodium/
gpicview/

