Code/
Code - OSS/
Cursor/
TabNine/
Thunar/
audacity/
comrak/
dconf/
diffuse/
enchant/
environment.d/
envman/
eos-sendlog.txt
eos-update-notifier.first_init
epiphany
goa-1.0/
gtk-2.0/
gtk-3.0/
htop/
libreoffice/
mako/
marktext/
neofetch/
pavucontrol.ini
pulse/
relflector-simple-free-params.txt
xfce4/
xournalpp/
yay/
EOS-initial-wallpaper.LXDE
lxpanel/
lxsession/
openbox/
pcmanfm/
libfm/
configstore/
nvim/plugged
Google/
RStudio/
systemd/
xed/
VSCodium/
gpicview/
user-dirs.locale
user-dirs.dirs
rstudio/*
EOS-greeter.conf
Android Open Source Project/
QtProject.conf
cef_user_data/
coc/
flutter/
JetBrains/
tool_state
settings
racket/
pix/
vlc/
jxbrowser/
nushell/history.txt
inkscape/
kde.org/
GIMP/
KDE/
Trolltech.conf
baloofilerc
bluedevilglobalrc
cursor/
dolphinrc
filetypesrc
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kcminputrc
kconf_updaterc
kde.org/
kdeconnect/
kded5rc
kded6rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
kiorc
knfsshare
konsolerc
konsolesshconfig
ksmserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
libaccounts-glib/
okularpartrc
okularrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmarc
plasmashellrc
powermanagementprofilesrc
session/
setup.md
trashrc
xsettingsd/
mimeapps.list
